In [1]:
import numpy as np

## Data Types and Attributes

In [2]:
#Numpy's main datatype is ndarray

# One-dimensional array
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
# 2-dimensional array
a2 = np.array([
    [1, 2.0, 3.3],
    [4, 5, 6.5]])

# 3-dimensional array
a3 = np.array([[[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]],
                [[10, 11, 12],
                 [13, 14, 15],
                 [16, 17, 18]]])

In [5]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [6]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [8]:
a1.shape

(3,)

In [9]:
a2.shape

(2, 3)

In [10]:
a3.shape

(2, 3, 3)

In [11]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [12]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [13]:
# Amount of elements in each array
a1.size, a2.size, a3.size

(3, 6, 18)

In [14]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## Creating Arrays

In [15]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [16]:
# Creating an array filled with ones with shape 2,3
ones = np.ones( (2, 3) )
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [17]:
# Creating an Array filled with zeros with shape (2, 3)
zeros = np.zeros((2, 3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [18]:
# Creating a range array with start=0, stop=10 and step=2
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [19]:
# Creating a random data array with low=0, high=10 and size=(3, 5)
random_array = np.random.randint(0, 10, size=(3,5))
random_array

array([[3, 1, 5, 3, 1],
       [0, 1, 5, 3, 6],
       [6, 6, 1, 8, 1]])

In [25]:
# Creating a random float array with values between 0~1 by size
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.77192462, 0.40244656, 0.26135399],
       [0.07881819, 0.99485782, 0.54582898],
       [0.16450547, 0.90225992, 0.98754273],
       [0.00617057, 0.84660444, 0.92489168],
       [0.69677974, 0.25151348, 0.3162664 ]])

In [29]:
# Creating a random float array by shape
# axis 1: Refers to rows = 5
# axis 2: Refers to cols = 3
# axis n: Refers to dimensions = none in this case

random_array_3 = np.random.rand(5, 3)
random_array_3

array([[0.08006446, 0.89764165, 0.73139347],
       [0.66033557, 0.77124527, 0.81137688],
       [0.39110579, 0.17288873, 0.74554837],
       [0.67464301, 0.78104964, 0.81739067],
       [0.35923687, 0.81075247, 0.9890332 ]])

In [50]:
# Pseudo-random numbers - random will use always same value base on seed parameter even running again
# Useful to reproduce same random values in experiments
# But it is not really random, is a pseudo-random
np.random.seed(seed=99999)
random_array_4 = np.random.randint(10, size=(5, 3))
random_array_4

array([[0, 3, 1],
       [8, 1, 3],
       [8, 5, 6],
       [0, 6, 0],
       [4, 0, 9]])

In [51]:
# random_array_5 in pseudo-random
np.random.seed(seed=7)
random_array_5 = np.random.random((5, 3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [53]:
# random_array_5 back to generate real random
random_array_5 = np.random.random((5, 3))
random_array_5

array([[0.20484909, 0.49076589, 0.37238469],
       [0.47740115, 0.36589039, 0.83791799],
       [0.76864751, 0.31399468, 0.57262533],
       [0.27604905, 0.45284293, 0.35297837],
       [0.65739946, 0.37035108, 0.45909298]])