In [1]:
import numpy as np

## Data Types and Attributes

In [2]:
#Numpy's main datatype is ndarray

# One-dimensional array
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [3]:
type(a1)

numpy.ndarray

In [4]:
# 2-dimensional array
a2 = np.array([
    [1, 2.0, 3.3],
    [4, 5, 6.5]])

# 3-dimensional array
a3 = np.array([[[1, 2, 3],
                 [4, 5, 6],
                 [7, 8, 9]],
                [[10, 11, 12],
                 [13, 14, 15],
                 [16, 17, 18]]])

In [5]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [6]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [8]:
a1.shape

(3,)

In [9]:
a2.shape

(2, 3)

In [10]:
a3.shape

(2, 3, 3)

In [11]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [12]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('int64'))

In [13]:
# Amount of elements in each array
a1.size, a2.size, a3.size

(3, 6, 18)

In [14]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

## Creating Arrays

In [15]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [16]:
# Creating an array filled with ones with shape 2,3
ones = np.ones( (2, 3) )
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [17]:
# Creating an Array filled with zeros with shape (2, 3)
zeros = np.zeros((2, 3))
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [18]:
# Creating a range array with start=0, stop=10 and step=2
range_array = np.arange(0, 10, 2)
range_array

array([0, 2, 4, 6, 8])

In [19]:
# Creating a random data array with low=0, high=10 and size=(3, 5)
random_array = np.random.randint(0, 10, size=(3,5))
random_array

array([[3, 1, 5, 3, 1],
       [0, 1, 5, 3, 6],
       [6, 6, 1, 8, 1]])

In [25]:
# Creating a random float array with values between 0~1 by size
random_array_2 = np.random.random((5, 3))
random_array_2

array([[0.77192462, 0.40244656, 0.26135399],
       [0.07881819, 0.99485782, 0.54582898],
       [0.16450547, 0.90225992, 0.98754273],
       [0.00617057, 0.84660444, 0.92489168],
       [0.69677974, 0.25151348, 0.3162664 ]])

In [29]:
# Creating a random float array by shape
# axis 1: Refers to rows = 5
# axis 2: Refers to cols = 3
# axis n: Refers to dimensions = none in this case

random_array_3 = np.random.rand(5, 3)
random_array_3

array([[0.08006446, 0.89764165, 0.73139347],
       [0.66033557, 0.77124527, 0.81137688],
       [0.39110579, 0.17288873, 0.74554837],
       [0.67464301, 0.78104964, 0.81739067],
       [0.35923687, 0.81075247, 0.9890332 ]])

In [50]:
# Pseudo-random numbers - random will use always same value base on seed parameter even running again
# Useful to reproduce same random values in experiments
# But it is not really random, is a pseudo-random
np.random.seed(seed=99999)
random_array_4 = np.random.randint(10, size=(5, 3))
random_array_4

array([[0, 3, 1],
       [8, 1, 3],
       [8, 5, 6],
       [0, 6, 0],
       [4, 0, 9]])

In [51]:
# random_array_5 in pseudo-random
np.random.seed(seed=7)
random_array_5 = np.random.random((5, 3))
random_array_5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [53]:
# random_array_5 back to generate real random
random_array_5 = np.random.random((5, 3))
random_array_5

array([[0.20484909, 0.49076589, 0.37238469],
       [0.47740115, 0.36589039, 0.83791799],
       [0.76864751, 0.31399468, 0.57262533],
       [0.27604905, 0.45284293, 0.35297837],
       [0.65739946, 0.37035108, 0.45909298]])

## Viewing arrays and matrices

In [54]:
# Show unique values in an array
np.unique([1, 1, 2, 2, 3, 3])

array([1, 2, 3])

In [55]:
np.unique(random_array_4)

array([0, 1, 3, 4, 5, 6, 8, 9])

In [57]:
# Read array or matrix by index
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [58]:
# Get first 2 elements in matrix
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [59]:
# Viewing a 4-dimension matrix with 5 rows, 4 columns, 3 matrices into 2 matrices
a4 = np.random.randint(10, size=(2, 3, 4, 5))
a4

array([[[[1, 9, 5, 9, 1],
         [2, 3, 2, 2, 5],
         [7, 3, 0, 9, 9],
         [3, 4, 5, 3, 0]],

        [[4, 8, 6, 7, 2],
         [7, 3, 8, 6, 6],
         [5, 6, 5, 7, 1],
         [5, 4, 4, 9, 9]],

        [[0, 6, 2, 6, 8],
         [2, 4, 1, 6, 1],
         [5, 1, 6, 9, 8],
         [6, 5, 9, 7, 5]]],


       [[[4, 9, 6, 8, 1],
         [5, 5, 8, 3, 7],
         [7, 9, 4, 7, 5],
         [9, 6, 2, 0, 5]],

        [[3, 0, 5, 7, 1],
         [8, 4, 9, 0, 2],
         [0, 7, 6, 2, 9],
         [9, 5, 1, 0, 0]],

        [[9, 1, 1, 5, 3],
         [2, 0, 4, 8, 7],
         [1, 4, 9, 3, 6],
         [7, 1, 0, 2, 7]]]])

In [62]:
# Get the first 3 numbers of the inner most arrays in the 4-dimensional
a4[:, :, :, :3]

array([[[[1, 9, 5],
         [2, 3, 2],
         [7, 3, 0],
         [3, 4, 5]],

        [[4, 8, 6],
         [7, 3, 8],
         [5, 6, 5],
         [5, 4, 4]],

        [[0, 6, 2],
         [2, 4, 1],
         [5, 1, 6],
         [6, 5, 9]]],


       [[[4, 9, 6],
         [5, 5, 8],
         [7, 9, 4],
         [9, 6, 2]],

        [[3, 0, 5],
         [8, 4, 9],
         [0, 7, 6],
         [9, 5, 1]],

        [[9, 1, 1],
         [2, 0, 4],
         [1, 4, 9],
         [7, 1, 0]]]])

## Manipulating & comparing arrays

### Arithmetic

In [63]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [64]:
a1

array([1, 2, 3])

In [65]:
# Sum a1 with ones
a1 + ones

array([2., 3., 4.])

In [66]:
# Subtract a1 - ones
a1 - ones

array([0., 1., 2.])

In [67]:
# Multiply
a1 * ones

array([1., 2., 3.])

In [68]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [69]:
a1 * a2

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.5]])

In [71]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [72]:
# Error: How can you reashape a2 to be compatible with a3?
a2 * a3

ValueError: operands could not be broadcast together with shapes (2,3) (2,3,3)

In [74]:
# Division
a1 / ones

array([1., 2., 3.])

In [76]:
a2 / a1

array([[1.        , 1.        , 1.1       ],
       [4.        , 2.5       , 2.16666667]])

In [78]:
# Floor division (rounds down - removes the decimals)
a2 // a1

array([[1., 1., 1.],
       [4., 2., 2.]])

In [79]:
# Power of 2
a2 ** 2

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [80]:
# Square
np.square(a2)

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [81]:
# Add using function add, same of using plus symbol (+)
np.add(a1, ones)

array([2., 3., 4.])

In [84]:
#Modulo (remain of division)
a1 % 2

array([1, 0, 1])

In [85]:
a2 % 2

array([[1. , 0. , 1.3],
       [0. , 1. , 0.5]])

In [86]:
# Exponential
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [87]:
# Log
np.log(a1)

array([0.        , 0.69314718, 1.09861229])